<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <nav th:fragment="nav-menu">
        <div class="logo">MARK MARTIN</div>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/about}">About</a></li>
            <li><a th:href="@{/journey}">Journey</a></li>
            <li><a th:href="@{/skills}">Skills</a></li>
            <li><a th:href="@{/gallery}">Gallery</a></li>
        </ul>
    </nav>
</body>
</html>